body {
  background: #f5f5f5;
  font-family: "Sriracha", cursive;
  color: #ead7d7;
}

.header {
  text-align: center;
  font: 300 48px "Sriracha", cursive;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.Collection-item {
  background: ead7d7;
  border: 1px solid #ead7d7;
  color: black;
}
/*.iconSelect:hover {
  cursor: pointer;
  opacity: 1 !important;
  background: green;
}*/
/*.iconSelect {
  height: 19px;
  width: 24px;
  background: url("./images/check1.svg") center no-repeat;
  background-size: contain;
  opacity: 0;
}*/
/*.iconDelete {
  height: 19px;
  width: 24px;
  background-size: red contain;
  opacity: 0;
}*/

/*.iconDelete:hover {
  cursor: pointer;
  opacity: 1 !important;
  background-color: red;
}*/

.Collection-item {
  display: flex;
  justify-content: space-between;
  font: 300 32px "Sriracha", cursive;
}

.todos {
  max-height: 350px;
  overflow: auto;
  border: 1px solid #ead7d7;
}
.Form {
  margin-top: auto;
  text-align: left;
}
.InputStr {
  width: 596px;
  border: 2px solid #ead7d7;
  max-width: 596px;
  height: 50px;
  font: 300 24px "Sriracha", cursive;
}
.FindStr {
  width: 596px;
  border: 2px solid #ead7d7;
  max-width: 596p;
  height: 50px;
  font: 300 24px "Sriracha", cursive;
}

.test {
  color: blue;
}

.selected {
  background: lightblue;
  text-decoration: line-through;
}

.notselected {
  background: none;
}

.optionButton li {
  display: inline;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px;
}

.optionButton li a {
  color: pink;
  text-decoration: none;
  font: 300 18px "Sriracha", cursive;
}

.iconDelete {
  display: block;
  height: 19px;
  width: 24px;
  background: url(./images/cross.svg) center no-repeat;
  background-size: contain;
  opacity: 0;
}

.goal-from-list:hover .iconDelete {
  opacity: 0.5;
  /* color: red; */
}
.iconDelete:hover {
  cursor: pointer;
  opacity: 1 !important;
}

/*                               */
.iconSelect {
  display: block;
  height: 19px;
  width: 24px;
  background: url(./images/check1.svg) center no-repeat;
  background-size: contain;
  opacity: 0;
}

.goal-from-list:hover .iconSelect {
  opacity: 0.5;
  /* color: red; */
}
.iconSelect:hover {
  cursor: pointer;
  opacity: 1 !important;
}
